__pycache__
*.ckpt
*.pth
/ESRGAN/*
/SwinIR/*
/venv
/tmp
/model.ckpt
/models/**/*
/GFPGANv1.3.pth
/gfpgan/weights/*.pth
/ui-config.json
/outputs
/config.json
/log
/webui.settings.bat
/params.txt
/styles.csv.bak
/webui-user.sh
/user.css
/.idea
notification.mp3
/SwinIR
.vscode

